<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Lista de Personagens</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/charlist.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    {% include 'header.html' %}

    <div class="container">
      <h1>Lista de Personagens</h1>
      <ul class="personagens-lista">
        {% for personagem in personagens %}
        <li
          class="personagem"
          title="Editar Personagem"
          data-charid="{{ personagem['id'] }}"
        >
          {% set color_key = personagem['hair_color'] + '_' +
          personagem['skin_color'] %} {% set image_link =
          colorLinks.get(color_key) %}
          <img src="{{ image_link }}" alt="Character Image" />
          <div class="info">
            <h2>{{ personagem['name'] }}</h2>
            {% if 'str' in personagem %}
            <p>Forca: {{ personagem['str'] }}</p>
            {% endif %} {% if 'int' in personagem %}
            <p>Inteligencia: {{ personagem['int'] }}</p>
            {% endif %}
          </div>
          <i
            onclick="alerta(event)"
            class="fas fa-times"
            title="Excluir Personagem"
          ></i>
        </li>
        {% endfor %}
      </ul>

      <button id="criar-personagem">Criar Novo Personagem</button>
    </div>

    <script src="{{ url_for('static', filename='js/charlist.js') }}"></script>
  </body>
</html>
