<link
  rel="stylesheet"
  href="{{ url_for('static', filename='style/char.css') }}"
/>
<title>Criar personagem</title>
{% include 'header.j2' %}

<main>
  <h1>Escolha suas habilidades</h1>

  <form>
  <section class="character-creation">
    <div class="character-info">
      <h2>Crie o seu personagem</h2>
      <form>
        <label for="character-name">Nome do personagem:</label>
        <input
          type="text"
          id="character-name"
          name="name"
          placeholder="Digite o nome do seu personagem"
          value="{{personagem['name']}}"
          required
        />

        <label for="color-options">Cor do cabelo:</label>
        <div id="color-options" class="color-options">
          <label class="cor-option">
            <input type="radio" name="hair_color" value="red" />
            <span class="cor-sample red" data-cor="red"></span>
          </label>

          <label class="cor-option">
            <input type="radio" name="hair_color" value="blue" />
            <span class="cor-sample blue" data-cor="blue"></span>
          </label>

          <label class="cor-option">
            <input type="radio" name="hair_color" value="green" />
            <span class="cor-sample green" data-cor="green"></span>
          </label>

          <label class="cor-option">
            <input type="radio" name="hair_color" value="yellow" />
            <span class="cor-sample yellow" data-cor="yellow"></span>
          </label>
        </div>

        <label for="skin-color">Cor da pele:</label>
        <div id="skin-color-options" class="color-options">
          <label class="cor-option">
            <input type="radio" name="skin_color" value="bege" />
            <span class="skin-sample bege" data-cor="bege"></span>
          </label>

          <label class="cor-option">
            <input type="radio" name="skin_color" value="tan" />
            <span class="skin-sample tan" data-cor="tan"></span>
          </label>

          <label class="cor-option">
            <input type="radio" name="skin_color" value="pantone" />
            <span class="skin-sample pantone" data-cor="pantone"></span>
          </label>

          <label class="cor-option">
            <input type="radio" name="skin_color" value="brown" />
            <span class="skin-sample marrom" data-cor="brown"></span>
          </label>
        </div>

        <label for="strength">Forca:</label>
        <input
          type="number"
          id="strength"
          name="strength"
          min="1"
          max="10"
          value="{{personagem['strength']}}"
        />

        <label for="intelligence">Inteligencia:</label>
        <input
          type="number"
          id="intelligence"
          name="intelligence"
          min="1"
          max="10"
          value="{{personagem['intelligence']}}"
        />

        <input type="submit" value="Atualizar Personagem" />
      </form>
    </div>

    <div class="character-image">
      {% set color_key = personagem['hair_color'] + '_' +
      personagem['skin_color'] %} {% set image_link = colorLinks.get(color_key)
      %}
      <img
        src="{{ image_link }}"
        alt="Character Image"
        data-skin="{{ personagem['skin_color'] }}"
        data-hair="{{personagem['hair_color']}}"
      />
    </div>
  </section>
  </form>
</main>

<script
type="module"
src="{{ url_for('static', filename='js/color-link-select.js') }}"
></script>
<script
  type="module"
  src="{{ url_for('static', filename='js/char.js') }}"
></script>
