<link
  rel="stylesheet"
  href="{{ url_for('static', filename='style/char.css') }}"
/>
<main>
  <h1>Escolha suas habilidades</h1>

  <section class="character-creation">
    <div class="character-info">
      <h2>Crie o seu personagem</h2>
      <form>
        <label for="character-name">Nome do personagem:</label>
        <input
          type="text"
          id="character-name"
          name="character-name"
          placeholder="Digite o nome do seu personagem"
          required
        />

        <label for="color-options">Cor do cabelo:</label>
        <div id="color-options" class="color-options">
          <label class="cor-option">
            <input type="radio" name="corCabelo" value="vermelho" />
            <span class="cor-sample red" data-cor="Vermelho"></span>
          </label>

          <label class="cor-option">
            <input type="radio" name="corCabelo" value="azul" />
            <span class="cor-sample blue" data-cor="Azul"></span>
          </label>

          <label class="cor-option">
            <input type="radio" name="corCabelo" value="verde" />
            <span class="cor-sample green" data-cor="Verde"></span>
          </label>

          <label class="cor-option">
            <input type="radio" name="corCabelo" value="preto" />
            <span class="cor-sample black" data-cor="Preto"></span>
          </label>
        </div>

        <label for="skin-color">Cor da pele:</label>
        <div id="skin-color-options" class="color-options">
          <label class="cor-option">
            <input type="radio" name="skinColor" value="bege" />
            <span class="cor-sample bege" data-cor="Bege"></span>
          </label>

          <label class="cor-option">
            <input type="radio" name="skinColor" value="tan" />
            <span class="cor-sample tan" data-cor="Tan"></span>
          </label>

          <label class="cor-option">
            <input type="radio" name="skinColor" value="pantone" />
            <span class="cor-sample pantone" data-cor="Pantone"></span>
          </label>

          <label class="cor-option">
            <input type="radio" name="skinColor" value="marrom" />
            <span class="cor-sample marrom" data-cor="Marrom"></span>
          </label>
        </div>

        <label for="strength">Forca:</label>
        <input
          type="number"
          id="strength"
          name="strength"
          min="1"
          max="10"
          value="5"
        />

        <label for="intelligence">Inteligencia:</label>
        <input
          type="number"
          id="intelligence"
          name="intelligence"
          min="1"
          max="10"
          value="5"
        />

        <input type="submit" value="Criar Personagem" />
      </form>
    </div>

    <div class="character-image">
      <img
        src="https://trulyoutofcharacter.files.wordpress.com/2020/11/cloud_strife_from_ffvii_remake_promo_render.png"
        alt="Imagem do personagem"
      />
    </div>
  </section>
</main>

<script src="{{ url_for('static', filename='js/char.js') }}"></script>
