<link
  rel="stylesheet"
  href="{{ url_for('static', filename='style/header.css') }}"
/>

<header>
  <nav class="menu-left" aria-label="">
    <ul>
      <li><a>Lista de Personagens</a></li>
      <li><a>Criar Personagem</a></li>
    </ul>
  </nav>

  <nav class="menu-right" aria-label="">
    <ul>
      <li><a>Desconectar</a></li>
    </ul>
  </nav>
</header>


<script>
function hrefChange(tag, number, route) {
  document.getElementsByTagName(tag)[number].addEventListener("click", () => {
    window.location.href = route;
  });
}

hrefChange("a", 0, "/charlist/{{usuario}}")
hrefChange("a", 1, "/newchar/{{usuario}}")
hrefChange("a", 2, "/logout")
</script>