<link
  rel="stylesheet"
  href="{{ url_for('static', filename='style/char.css') }}"
/>
<title>Criar personagem</title>
{% include 'header.j2' %}

<main>
  <h1>Escolha suas habilidades</h1>

  <form id="charForm">
    <section class="character-creation">
      <div class="character-info">
        <h2>Crie o seu personagem</h2>
        <form>
          <label for="character-name">Nome do personagem:</label>
          <input
            type="text"
            id="character-name"
            name="character-name"
            placeholder="Digite o nome do seu personagem"
            required
          />

          <label for="color-options">Cor do cabelo:</label>
          <div id="color-options" class="color-options">
            <label class="cor-option">
              <input type="radio" name="hairColor" value="red" />
              <span class="cor-sample red" data-cor="red"></span>
            </label>

            <label class="cor-option">
              <input type="radio" name="hairColor" value="blue" />
              <span class="cor-sample blue" data-cor="blue"></span>
            </label>

            <label class="cor-option">
              <input type="radio" name="hairColor" value="green" />
              <span class="cor-sample green" data-cor="green"></span>
            </label>

            <label class="cor-option">
              <input type="radio" name="hairColor" value="yellow" checked />
              <span class="cor-sample yellow" data-cor="yellow"></span>
            </label>
          </div>

          <label for="skin-color">Cor da pele:</label>
          <div id="skin-color-options" class="color-options">
            <label class="cor-option">
              <input type="radio" name="skinColor" value="bege" checked />
              <span class="skin-sample bege" data-cor="bege"></span>
            </label>

            <label class="cor-option">
              <input type="radio" name="skinColor" value="tan" />
              <span class="skin-sample tan" data-cor="tan"></span>
            </label>

            <label class="cor-option">
              <input type="radio" name="skinColor" value="pantone" />
              <span class="skin-sample pantone" data-cor="pantone"></span>
            </label>

            <label class="cor-option">
              <input type="radio" name="skinColor" value="brown" />
              <span class="skin-sample marrom" data-cor="brown"></span>
            </label>
          </div>

          <label for="strength">Forca:</label>
          <input
            required
            type="number"
            id="strength"
            name="strength"
            min="1"
            max="10"
            value="5"
          />

          <label for="intelligence">Inteligencia:</label>
          <input
            required
            type="number"
            id="intelligence"
            name="intelligence"
            min="1"
            max="10"
            value="5"
          />

          <input type="submit" value="Criar Personagem" />
        </form>
      </div>

      <div class="character-image">
        <img
          src="https://i.postimg.cc/q7sTcVxk/yellow-bege.png"
          alt="Character Image"
        />
      </div>
    </section>
  </form>
</main>

<script
  type="module"
  src="{{ url_for('static', filename='js/color-link-select.js') }}"
></script>
<script 
  type="module"
  src="{{ url_for('static', filename='js/newchar.js') }}"
></script>
