<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/sign-in.css') }}">
</head>
<body>

    <div id="loginModal" class="modal">
    <div class="modal-content">
      <span class="close" >&times;</span>
      <h2>Login</h2>

    <form method="POST" action="/login">
    
    <label for="usuario">Usuario</label>
    <input type="text" id="usuario" name="usuario" />
    
    <label for="senha">Senha</label>
    <input type="password" id="senha" name="senha" />
    
    <input type="submit" value="Entrar" />

    <input onclick="openModal('/signup')" type="button" value="Não é um cliente? Cadastrar" />
    
    </div>
  </div>

</body>
</html>