<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criação de Personagens - Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/start.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
      {% endif %}
    {% endwith %}
  
  <main>
    <section class="hero">
      <h1>Crie Personagens Incríveis</h1>
      <p>Seja o mestre da sua historia. Desenvolva personagens unicos e de vida as suas criacoes.</p>
      <a onclick="openModal('/signin')" class="btn">Comece Agora</a>
    </section>
  </main>

<div id="modalContent" style="display: none;"></div>


  <script src="{{ url_for('static', filename='js/start.js') }}"></script>


</body>
</html>
